@import "tailwindcss";

:root {
  --background: #efede6;
  --foreground: #3e2c2c;
  --font-poppins: "Poppins", sans-serif;
  --font-serif: "Great Vibes", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: "Poppins", sans-serif;
  --font-serif: "Great Vibes", cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.font-serif {
  font-family: "Great Vibes", cursive;
}
